:root {
    --sidebar-width: 175px;
    --header-height: 40px;
}

html {
    font-family: 'Heebo', sans-serif;
    background-color: white;
    height: 100%;
    width: 100%;
    color: #3e3e3e;
}

a {
    color: #3e3e3e;
}

a.menu-link, a.menu-home-link, a.menu-link-h {
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0px 0px;
}

.c-header {
    display: none;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {}

.header__icon {
    vertical-align: -1ex;
    width: 30px;
    height: 30px;
}

.c-sidebar {}

.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar--position {
    top: 0;
    left: 0;
    bottom: 0;
    margin: 10px;
}

.sidebar--closed {
    display: none;
}

.sidebar__logo {
    font-size: 0.7em;
}

.sidebar__menu {
    width: 100%;
}

.c-main {
    display: flex;
    align-items: center;
    margin-left: var(--sidebar-width);
    flex-direction: column;

}

.main {
    z-index: 0;
    position: relative;
    top: 0;
    bottom: 0;
    margin: 5px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.main__media, .main__text {
    max-width: 650px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main__media-element, .main__media-img-element {
    width: 650px;
    padding: 5px 0px;
}

.main__media-img-element {
    height: 100px;
}

.main__media-img-preview {
    width: 100%;
    max-height: 145px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5px 0px;
    color: white;
    text-decoration: none;
}

.main__media-img-preview--hackillinois {
    background-image: url(img/hackillinois2016.png);
}

.main__media-img-preview--wrigley {
    background-image: url(img/undercubstruction.png);
}

.main__media-img-preview--barchief {
    background-image: url(img/barchief_004.png);
}

.main__media-img-preview--subsistence {
    background-image: url(img/subsistence.png);
}


/*
.main__media-img-preview--hackillinois:hover {
    background-image: url(img/hackillinois2016.gif);
}

.main__media-img-preview--wrigley:hover {
    background-image: url(img/undercubstruction.gif);
}

.main__media-img-preview--barchief:hover {
    background-image: url(img/barchief_004.gif);
}

.main__media-img-preview--subsistence:hover {
    background-image: url(img/barchief_001.png);
}*/

.shadow {
    -moz-box-shadow: inset 0 15px 30px #000000;
    -webkit-box-shadow: inset 0 15px 30px #000000;
    box-shadow: inset 0 15px 30px #000000;
}

.soundcloud {
    width: 100%;
    height: 130px;
}

.main__contact {}

.menu-link, .menu-home-link, .menu-link-h {
    display: flex;
    align-items: center;
    height: 40px;
}

.menu-link:hover, .menu-link--selected {
    background-color: #3e3e3e;
    color: white;
}

.option {
    width: 100%;
    padding-left: 5px;
    padding-right: 10px;
}

.option__icon {
    vertical-align: -1ex;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 870px) {
    .c-header {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        height: var(--header-height);
        width: auto;
        display: flex;
        background-color: white;
        font-size: 0.8em;
    }
    .c-sidebar {}
    .sidebar {
        display: none;
    }
    .sidebar--open {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        width: var(--sidebar-width);
        z-index: 3;
    }
    .sidebar--position {
        top: var(--header-height);
        left: auto;
        right: 0;
        bottom: 0;
        margin: 0px;
        margin-bottom: 10px;
        padding-left: 0px;
    }
    .sidebar__logo {
        display: none;
    }
    .option {
        padding: 0px 10px;
    }
    .main {
        position: absolute;
        top: var(--header-height);
        left: 0;
        margin: 5px;
        padding: 0 20px;
    }
    .main__media-element {
        width: 100%;
    }
    .main__media-img-element {
        width: 100%;
        height: 100px;
    }
    .soundcloud {
        width: 100%;
        height: 130;
    }
}
